.parent>div{
    background-color: rgb(211, 214, 16);
    padding: 10px;
    margin: 10px;
    height: 30px;
    width: 30px;
    display: inline-block;
    border: 2px solid rgba(219, 152, 7, 0.781);
    border-radius: 20px;
}