.c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
ul{
    list-style: none;
    border-radius: 30px;
    background-color: rgba(72, 117, 117, 0.651);
}
li{
    margin-left: -30px;
}
input{
    border: 1px solid rgb(0, 0, 0);
    outline: none;
}
.delete{
    margin-left: 30px;
}