<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3>Write new chat</h3>
    <form method="POST" action="/chats">
        <input type="text" placeholder="kon" name="from">
        <br>
        <textarea name="msg" id="" placeholder="Write your message here..."></textarea>
        <br>
        <input type="text" placeholder="add reciever" name="to">
        <br>
        <br>
        <button>Create</button>
    </form>
</body>
</html>