<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new post</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="edit">
      <form method="post" action="/posts" class="form">
        <input type="text" placeholder="username" name="username" class="inp"/>
        <br />
        <textarea name="content" placeholder="write your post" class="inp"></textarea>
        <br />
        <button class="btn">Submit</button>
      </form>
    </div>
  </body>
</html>
